/* Styles go here */

:root {
  --primary:white;
  --primary-bg: #2ecc71;
  --accent: #3498db;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  /* color: #1e5cde; */
  align-items: center;
  background-image: url("./4028064-nb.png"), linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.main-page {
  width: 100vw;
  height: 100vh;
  
  /* background-image: url("./4028064-nb.png"), linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background-position: center;
  background-size:cover; */
  /* background: #FEAC5E;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /*Chrome 10-25, Safari 5.1-6 */
}

.main-form {
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.card {
  border:3px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.flex-items {
  padding:10px 0;
  min-width:40%;
  align-items: center;
}

.filename {
  display: block;
  text-align: center;
  margin: 5px 0;
}

.btn {
  color: white;
  text-decoration: none;
  border:none;
  padding:10px 20px;
  border-radius: 5px;
}


.controls {
  text-align: center;
  padding: 1px;
}

.view {
  background-color: #59B85E;
}

.remove {
  background-color: #DC524C;
}

.process-btn {
  border:none;
}
.process-btn:disabled {
  opacity: 0.7;
}

.process-btn::after{
  content: "...";
}

  .upload-btn {
    width:40%;
    border-radius: 5px;
    padding:10px;
    align-items: center;
    background-color: var(--accent);
    text-align:center ;
    opacity: 0.9;
  }

  .upload-btn:hover{
    opacity:1.5;
    background-color: var(--primary-bg);
  }

  input[type=file].upload-btn::file-selector-button {
    align-items: center;
    background-color: var(--accent);
    border: none;
  }

  .header {
    text-align: center;
    padding:5vh 3vh 3vh 3vh;
    color:#E74C3C;
  }

  .graph {
    align-items: center;
    max-width:100%;
    height:auto;
    transition: all .2s ease-out;
  }

  /* .correlation {
    width
  } */


/* 3rd party css */
/* image picker */
/* Code By Webdevtrick ( https://webdevtrick.com ) */
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* .icon {
  max-width: 70vw;
  transition: all .2s ease-out;
}

.icon.active {
  fill: #E74C3C;
} */

#results-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
}

#left-side {
  height: 70%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#left-side ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  line-height: 34px;
  color: rgba(51, 51, 51, 0.5);
  font-weight: 500;
  cursor: pointer;
  transition: all .2s ease-out;
}
#left-side ul li:hover {
  color: #333333;
  transition: all .2s ease-out;
}
#left-side ul li.active {
  color: #333333;
}

#border {
  height: 342px;
  width: 1px;
  background-color: rgba(51, 51, 51, 0.2);
}
#border #line.one {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 35px;
  transition: all .4s ease-in-out;
}
#border #line.two {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 89px;
  transition: all .4s ease-in-out;
}
#border #line.three {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 143px;
  transition: all .4s ease-in-out;
}
#border #line.four {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 197px;
  transition: all .4s ease-in-out;
}

#border #line.five {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 251px;
  transition: all .4s ease-in-out;
}

#right-side {
  height: 80vw;
  width: 80vw;
  overflow: hidden;
}
#right-side #first, #right-side #second, #right-side #third, #right-side #fourth, #right-side #fifth {
  position: absolute;
  height: inherit;
  width: inherit;
  transition: all .6s ease-in-out;
  margin-top: -350px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#right-side #first h1, #right-side #second h1, #right-side #third h1, #right-side #fourth h1, #right-side #fifth h1 {
  font-weight: 800;
  color: #333;
}
#right-side #first p, #right-side #second p, #right-side #third p, #right-side #fourth p, #right-side #fifth p {
  color: #333;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
}
#right-side #first.active, #right-side #second.active, #right-side #third.active, #right-side #fourth.active, #right-side #fifth.active {
  margin-top: 0px;
  opacity: 1;
  transition: all .6s ease-in-out;
  z-index: 100;
}


/* modal window */
/* Code By Webdevtrick ( https://webdevtrick.com ) */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.overflow-hidden {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1170px) {
  
}

.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
}

.cd-modal .cd-modal-content {
  height: 100%;
  width: 100%;
  padding: 3em 5%;
  text-align: left;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.modal-is-visible .cd-modal {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
  -moz-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
  transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
}
.modal-is-visible .cd-modal .cd-modal-content {
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
  .cd-modal .cd-modal-content {
    padding: 4em 10%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-modal .cd-modal-content {
    padding: 6em 20%;
  }
  .cd-modal p {
    font-size: 2rem;
    line-height: 2;
  }
}

.cd-modal-action {
  position: relative;
}
.cd-modal-action .btn, .cd-modal-action .cd-modal-bg {
  display: inline-block;
  height: 4em;
  background-color: white;
  color:black;
}

.float {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cd-modal-action .btn {
  width: 12.5em;
  
  border-radius: 5px;
  white-space: nowrap;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
  -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
  transition: color 0.2s 0.3s, width 0.3s 0s;
}
.cd-modal-action .btn.to-circle {
  width: 4em;
  color: transparent;
  -webkit-transition: color 0.2s 0s, width 0.3s 0.2s;
  -moz-transition: color 0.2s 0s, width 0.3s 0.2s;
  transition: color 0.2s 0s, width 0.3s 0.2s;
}
.cd-modal-action .cd-modal-bg {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 4em;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-2em);
  -moz-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  -o-transform: translateX(-2em);
  transform: translateX(-2em);
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}
.cd-modal-action .cd-modal-bg.is-visible {
  opacity: 1;
  visibility: visible;
}

.cd-modal-close {
  position: fixed;
  z-index: 101;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(https://webdevtrick.com/wp-content/uploads/close-icon.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-is-visible .cd-modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media only screen and (min-width: 768px) {
  .cd-modal-close {
    top: 70px;
  }
}
